<h1>Edit a Your Red Light</h1>

<%= form_for @user_redlight, :html => {:class => "form-group"}, :url => {:action => 'update', :id => @user_redlight.id} do |f| %>
 	  <%= f.text_area :problems %><br>
	  <%= f.submit "Save Changes"%>
<% end %>